body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    overflow: hidden;
    user-select: none;
    font-family: 'Minecraft';
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    display: flex;
    width: 40%;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    box-shadow: 0 0 19px -6px rgba(0, 0, 0, 0.53);

}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 55%;
    font-family: 'Minecraft';
}

.login-form form button {
    width: 80px;
    height: 30px;
    background-color: #463cb1;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-family: 'Minecraft';
}

.login-form form .el {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-form form .el .input-wrap {
    position: relative;
}
.login-form form .el .text-input {
    color: #fff;
    background: none;
    border: none;
    width: 200px;
    font-family: 'Minecraft';
}

.login-form form .el .input-wrap::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7f77dd;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.login-form form .el .text-input:focus {
    outline: none;
}

.login-form form .el .input-wrap:focus-within::after {
    transform: scaleX(1);
}

.login-form .pfp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
    height: 100%;
    width: 45%;
}

.login-form .pfp .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    width: 165px;
    height: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./imgs/_USR_PFP/phantom.png);
}