body {
    background-color: #16171d;
    font-family: 'Roboto';
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
}


header .tabs-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 50%;
    overflow-y: hidden;
    overflow-x: scroll;
}

header .tabs-container::-webkit-scrollbar {
    display: none;
}

header .tabs-container .tab-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 220px;
    flex-shrink: 0;
}

header .tabs-container .tab-wrap .new {
    width: 10px;
    height: 10px;
    border-radius: 1rem;
    background-color: #434254;
}

header .tabs-container .tab-wrap .new:hover {
    cursor: pointer;
}

header .tabs-container .tab-wrap .tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 30px;
    background-color: #2f2e39;
    color: #fff;
    font-size: 13px;
    border-radius: 7px;
}

header .tabs-container .tab-wrap .tab .info {
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 10px;
}

header .tabs-container .tab-wrap .tab .close {
    display: none;
    width: 10px;
    height: 10px;
    background-color: #23232c;
    border-radius: 5rem;
    margin-right: 15px;
}

header .tabs-container .tab-wrap .tab .close:hover {
    cursor: pointer;
}

header .tabs-container .tab-wrap .tab:hover .close {
    display: block;
}

header .tabs-container .tab-wrap .tab img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.search-engine {
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-engine img {
  width: 25px;
  height: 25px;
}

.dropdown {
  position: absolute;
  top: 35px;
  left: 0;
  background: #2a2b34;
  border-radius: 8px;
  padding: 8px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 180px;
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}

.option:hover {
  background: #3a3b45;
}

.option img {
  width: 20px;
  height: 20px;
}


header input {
  width: 75%;
}


header .tab-container .tab {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 30px;
    background-color: #242630;
    align-items: center;
    border-radius: 10px;
    color: white;
}

header .tab-container .active {
    background-color: #0c0c0c;
}

header .tab-container .tab img {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

header .search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .arrows {
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: center;
    align-items: center;
}

header .arrows img {
    width: 40px;
    height: 20px;
    margin-left: 10px;
}

header .arrows img:hover {
    cursor: pointer;
}

header .arrows .ro {
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

header input {
    background-color: #2a2b34;
    border: none;
    height: 30px;
    padding-left: 15px;
    width: 85%;
    margin-left: 20px;
    color: white;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 80vh;
}

main .logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

main img {
    width: 50%;
}

main input {
    background-color: #2f2e39;
    border: none;
    width: 60%;
    height: 40px;
    border-radius: 4rem;
    color: #fff;
    padding-left: 15px;
}
