body {
    display: flex;
    background-color: #16161e;
    color: #fff;
    margin: 0;
    font-family: 'Minecraft';
}

nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    border-right: #38384f 1px solid;
    padding-left: 15px;
}

nav .tab-sect {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

nav .tab-sect.selected {
    background-color: #22222f;
}

nav .tab-sect:hover {
    background-color: #22222f;
    cursor: pointer;
}

nav .tab-sect img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

iframe {
    width: 80%;
}