body {
    color: #fff;
    font-family: 'Minecraft';
    margin: 0;
}

article {
    width: 90%;
}

.preview-screen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 50vh;
    background-image: url(../../../../../imgs/_BGS/_WP_SNST.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.preview-screen .taskbar-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}

.taskbar,
.time-wrap {
    margin-left: 7px;
    border-radius: 1rem;
    background-color: #2f2e3368;
}

.preview-screen .taskbar-group .taskbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 60%;
    padding: 4px 0 4px 0;
}

.preview-screen .taskbar-group .time-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100px;
    height: 30%;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #1b1b1b;
    border-radius: 15px;
    transition: transform 0.44s cubic-bezier(0.34, 1.56, 0.64, 1),
                box-shadow 0.44s ease;
}

.bgs {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
}

.bgs .bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.bgs .bg-container:hover {
    cursor: pointer;
}

.bgs .bg-container img,
.bgs .bg-container .custom-bg-img {
    width: 40%;
    height: 65%;
    border-radius: 1rem;
    transition: transform 0.5s ease;
}

.bgs .bg-container:hover img,
.bgs .bg-container:hover .custom-bg-img {
    transform: scale(1.05);
}



.bgs .bg-container .selected {
    border: #5b8c2a 6px solid;
}

.bgs .bg-container .custom-bg-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16161e;
    border-radius: 1rem;
    background-position: center;
}

article .colors-wrap {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

article .colors-wrap .color {
    width: 40px;
    height: 40px;
}

article .colors-wrap .color:hover {
    cursor: pointer;
}

article .colors-wrap .color.selected {
    border: #5b8c2a 4px solid;
}

.fsettings {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
